body {
    width: 100%;
    font-family: Arial, Helvetica;
    font-size: small;
}
header h1 {
    font-size:1.9em;
    font-weight:200;
    margin: 0;
    padding-top:4rem;
    color: black;
}
header {
    width:100%;
}
.header-title{
    width:100%;
    height:128px;
    padding-left: 5px;
    padding-left: 0.3125rem;
    padding-right: 5px;
    padding-right: 0.3125rem;
    margin-left: auto;
    margin-right: auto;
}
.main-area {
    width:100%;
    margin-left:10px;
    padding-top:10px;
}
table {
    border-spacing: 0;
    width: 30%;
    margin-top: 20px;
}
td + td {
    border:1px solid #000;
    margin-left: auto;
    margin-right: auto;
}
td, th {
    border:1px solid #000;
    color: #000;
    padding: 5px 15px;
    margin-left: auto;
    margin-right: auto;
}
th {
    height: 0;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: transparent;
    black-space: nowrap;
}
th div{
    /*position: absolute;*/
    background: transparent;
    color: #000;
    font-size: 1.0em;
    padding: 1px;
    line-height: normal;
}
th:first-child, td:first-child {
    padding: 5px 15px;
}
#cellSelected {
    background: #F48026;
}
/* Important Elements -------------- */
#btnShuffle, #btnStep {
    color: #1A1A1A;
    font-size:0.7em;
    overflow:hidden;
    padding: 0 20px;
}
#btnShuffle:hover {
    background-color: #038f34;
}
.vector{
    display: none;
}
#swapStatus{
    width:90%;
    font-size:.9em;
}

/* Other Elements ----------------- */
.bar {
    height: 6px;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(top, rgb(51, 51, 51) 0%, rgb(0, 0, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(51, 51, 51)), color-stop(100%, rgb(0, 0, 0)));
    background: -webkit-linear-gradient(top, rgb(51, 51, 51) 0%, rgb(0, 0, 0) 100%);
    background: -o-linear-gradient(top, rgb(51, 51, 51) 0%, rgb(0, 0, 0) 100%);
    background: -ms-linear-gradient(top, rgb(51, 51, 51) 0%, rgb(0, 0, 0) 100%);
    background: linear-gradient(top, rgb(51, 51, 51) 0%, rgb(0, 0, 0) 100%);
    border-top: 1px solid #999999;
}
#barSelected {
    height: 6px;
    background: rgb(255,197,120);
    background: -moz-linear-gradient(top, rgba(255,197,120,1) 0%, rgba(244,128,38,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,197,120,1)), color-stop(100%,rgba(244,128,38,1)));
    background: -webkit-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(244,128,38,1) 100%);
    background: -o-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(244,128,38,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(244,128,38,1) 100%);
    background: linear-gradient(top, rgba(255,197,120,1) 0%,rgba(244,128,38,1) 100%);
    border-top: 1px solid #fceabb;
}
.stretchLine {
    width:100%;
    border: none;
    padding: 5px 15px 5px 0;
}

/* Content -------------- */

/* Larger than tablet */
@media (min-width: 750px) {
    header h1 {
        font-size:2.3em;
        font-weight:300;
        margin-right:2em;
    }
    .main-area {
        width:75%;
        margin:0 auto;
    }
    .buttonBlock, .detailsInfo{
        width: 100%;
        padding-top:10px;
        display: inline-block;
        position: relative;
    }
    .infoBlock{
        position: relative;
        width:50%;
    }
    .sidebar-left {
        width:100%;
        margin:0 auto;
        padding-top:10px;
        float:left;
    }
    .sidebar-right {
        width:20%;
        padding-top:10px;
        float:left;
    }
    table {
        width:100%;
        margin-top: 0;
    }
    .stretchLine {
        padding: 5px 15px 5px 0;
    }
}

/* Minimum for laptops */
@media (min-width: 940px) {
    header h1 {
        font-size:2.5em;
        font-weight:300;
    }
    #btnShuffle, #btnStep {
        font-size:1.0em;
        margin-right: 5px;
        margin-top:0.3em;
    }
    .main-area {
        padding-top:10px;
    }
    .infoBlock{
        float: left;
    }
    .sidebar-left {
        width:60%;
    }
    .sidebar-right {
        width:10%;
        margin-left:5%;
    }
}
/* Larger than desktop */
@media (min-width: 1200px) {
    header h1 {
        font-size:3em;
        font-weight:400;
    }
    #btnShuffle, #btnStep {
        font-size:1.3em;
    }
}
    